footer{
    width: 100vw;
    height: 300px;
    background-color: rgb(151, 71, 131);
    color: blanchedalmond;
    display: flex;
    justify-content:center;
    align-items: center;
    font-family:'Fredoka One', cursive;
    font-weight: 10px;
    flex-direction: column;
}

.lista-desordenada{
    padding: 10px;
    display: flex;
    color: white;
    justify-content: space-between;
    flex-direction: row;
}
.lista-desordenada:hover{
    color: rgb(77, 10, 43);
}
i{    
    font-size: 18px;
    padding: 15px;
    margin: 5px;
    color: #974783;
    background-color: violet;
    border: 1px solid violet;
    border-radius: 50%;
}

.social2{
    display: flex;
    flex-direction: row;
}
i:hover{
    background-color: rgb(77, 10, 43);
    color: white;
}
.fin{
    font-family: 'Livvic', sans-serif;
    font-size: 15px;
    padding: 25px;
    color: white;
}
  
