@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Indie+Flower&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Dancing+Script&family=Livvic:wght@300&family=Monsieur+La+Doulaise&family=Parisienne&family=Poiret+One&family=Ruthie&family=Spartan:wght@500&family=Vibes&family=Yusei+Magic&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media screen and (max-width: 800px)and (min-width:300px) {    
    nav{
        position: static;
    }
    .caja{

        height: 350px;
        align-items: flex-start;
        justify-content: flex-start;
    }
   
    .subcontainer{
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 800px;
        background-color: blueviolet;
        flex-direction: column;

    }

}